---
import Carrousel from './Carrousel.astro'

import img1 from '@images/stack/astro.png'
import img2 from '@images/stack/express.png'
import img3 from '@images/stack/js.png'
import img4 from '@images/stack/postgress.png'
import img5 from '@images/stack/css.png'
import img6 from '@images/stack/html5.png'
import img7 from '@images/stack/mongodb.png'
import img8 from '@images/stack/nginx.png'
import img9 from '@images/stack/react.png'
import img10 from '@images/stack/sass.png'
import img11 from '@images/stack/tailwind.png'
import img12 from '@images/stack/vite.png'

const data: image[] = [
  { title: 'Astro', img: img1},
  { title: 'Express', img: img2},
  { title: 'Javascript', img: img3},
  { title: 'Postgress', img: img4},
  { title: 'Css', img: img5},
  { title: 'Html5', img: img6},
  { title: 'Mongodb', img: img7},
  { title: 'Nginx', img: img8},
  { title: 'React', img: img9},
  { title: 'Sass', img: img10},
  { title: 'Tailwind', img: img11},
  { title: 'Vite', img: img12},
]

---

<section class="relative py-[10px] mb-[100px] bg-lightGray mx-20">
  <Carrousel images={data}/>
</section>
