---
import ProjectsGrid from './ProjectsGrid.astro';
---

<section id="projects" class="md:px-[100px] px-10 mb-[100px]">
  <h2 class="text-center font-header uppercase font-bold text-6xl pb-[80px]">
    Projects
  </h2>
  <ProjectsGrid />
</section>
