---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import img from '../../images/search.png'
import React from '../../images/stack/react.png'
import Typescript from '../../images/stack/ts.png'
import Mongo from '../../images/stack/mongodb.png'
import Express from '../../images/stack/express.png'
---

<div class="p-10 shadow-[0px_0px_20px_10px_rgba(150,150,150,0.1)] rounded-2xl hover:scale-105 transition-all	">
    <div>
        <div class="relative h-[160px] w-[300x] rounded-2xl overflow-hidden mb-6">
            <Image class=" w-full h-full object-cover" src={img}  alt='project' />
        </div>
        <div>
            <h3 class="font-header2 font-bold text-4xl mb-6">News app</h3>
            <p class="font-p text-3xl line-clamp-2 mb-6 text-gray/70">News search engine, implements api for get the news, you can filter the search by date.</p>
            <h4 class="font-p font-bold mb-6">Stack: React, Vite, Typescript, Node</h4>
            <div class="flex justify-evenly border-t-[1px] pt-6">
                <a href="">Code <Icon class:list='inline' name='git' /></a>
                <a href="">Live Preview <Icon class:list='inline' name='link' /></a>
            </div>
        </div>
    </div>
</div>