---
import ProjectsGrid from './ProjectsGrid.astro';
---

<section class="px-[100px] mb-[100px]">
    <h2 class="text-center font-header uppercase font-bold text-6xl pb-[80px]">Projects</h2>
    <ProjectsGrid />
</section>