---
import ProjectCard from './ProjectCard.astro'
---

<div class="grid grid-cols-3 gap-20">
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />
    <ProjectCard />

</div>