---
import type { CollectionEntry } from 'astro:content';

type education = CollectionEntry<'studies'>;
interface Props {
  education: education;
}

const { education } = Astro.props;
---

<div class="font-header2 flex justify-between mb-12">
  <div>
    <p class="text-4xl font-bold mb-4">{education.data.education}</p>
    <p class="text-3xl">{education.data.school}</p>
  </div>
  <p class="text-4xl font-bold mb-4">{education.data.date}</p>
</div>
