---
import EducationGrid from './EducationGrid.astro';
---

<section
  id="education"
  class="md:px-[90px] py-16 mx-4 md:mx-20 px-10 mb-[100px] bg-lightGray"
>
  <h2 class="text-center font-header uppercase font-bold text-5xl pb-[60px]">
    Education
  </h2>
  <EducationGrid />
</section>
