---
import EducationGrid from './EducationGrid.astro';
const lang = Astro.url.pathname.split('/')[1] || 'en';
import { getTranslation } from '../../utils/i18n';
---

<section
  id="education"
  class="md:px-[90px] py-16 px-10 mb-[100px] bg-lightGray"
>
  <h2 class="text-center font-header uppercase font-bold text-5xl pb-[60px]">
    {getTranslation(lang, 'education')}
  </h2>
  <EducationGrid />
</section>
