---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import EducationItem from './EducationItem.astro';

type study = CollectionEntry<'studies'>;
const studies: study[] = await getCollection('studies');
const lang = Astro.url.pathname.split('/')[1] || 'en';
---

<div class="lg:mx-48 mx-10">
  {
    studies.map(
      (educ) =>
        educ.slug.split('/')[0] === lang && <EducationItem education={educ} />,
    )
  }
</div>
