---
import Developer from '@images/developer.svg';
import Cloud from '@components/hero/Cloud.astro';
const lang = Astro.url.pathname.split('/')[1] || 'en';
import { getTranslation } from '@utils/i18n';
import { ButtonCV } from '@components/layout/ButtonCV';
---

<div
  id="about"
  class="relative flex flex-col items-center pt-[250px] mb-56 lg:px-[300px] px-20 z-30"
>
  <div class="relative mb-16">
    <Cloud text={getTranslation(lang, 'Full Stack Developer 🚀')} />
    <img src={Developer.src} alt="Stack" width="200" />
  </div>
  <h1
    class="font-header uppercase font-bold text-4xl sm:text-5xl lg:pb-5 pb-10"
  >
    Uberth Hernández
  </h1>
  <p
    class="hidden lg:block text-2xl sm:text-3xl leading-relaxed font-p text-gray pb-16"
  >
    {getTranslation(lang, 'hero')}
  </p>

  <ButtonCV lang={lang} />
</div>
