---
const lang = Astro.url.pathname.split('/')[1] || 'en';
import { getTranslation } from '@utils/i18n';
import { ButtonCV } from '@components/layout/ButtonCV';
import HeroImage from './HeroImage.astro';
import { Button } from '@components/ui/button';
import { Github } from 'lucide-react';
---

<section
  class="relative h-screen flex flex-col-reverse md:flex-row items-center justify-center z-30 px-10 md:px-20 lg:px-28"
>
  <!-- TEXT -->
  <div class="md:basis-1/2 text-center md:text-left">
    <h3 class="text-4xl mb-3 text-slate-600">Uberth Hernandez</h3>
    <h1 class="font-header font-bold text-6xl md:text-6xl lg:text-8xl mt-0">
      {getTranslation(lang, 'Full-stack Web Developer 🚀')}
    </h1>
    <p class="hidden sm:block leading-10 text-3xl font-p text-slate-600 pb-16">
      {getTranslation(lang, 'hero')}
    </p>
    <div class="flex flex-col gap-4 sm:block">
      <ButtonCV />
      <Button variant={'github'} size={'lg'}>
        <Github />
        Checkout repo
      </Button>
    </div>
  </div>

  <!-- IMAGE -->
  <div class="relative mb-16 flex items-center justify-center md:basis-1/2">
    <HeroImage />
  </div>
</section>
