---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import ExperienceCard from './ExperienceCard.astro';
import Experiences from './Experiences.astro';
import { Experience } from './Experience';

type experience = CollectionEntry<'experiences'>;

const experiences: experience[] = await getCollection('experiences');
const lang = Astro.url.pathname.split('/')[1] || 'en';
---

<div class="flex flex-col">
  {
    experiences.map(
      (exp) =>
        exp.slug.split('/')[0] === lang && (
          <Experience experience={exp} client:visible />
        ),
    )
  }
</div>
