---
import ExperiencesGrid from './ExperiencesGrid.astro';
---

<section id="experiences" class="md:px-[90px] px-10 mb-[100px]">
  <h2 class="text-center font-header uppercase font-bold text-5xl pb-[80px]">
    Experience
  </h2>
  <ExperiencesGrid />
</section>
