---
import Dot from "./Dot.astro";
---

<div class="flex mb-[-3px]">
    <div class="relative mr-10 mt-4">
        <Dot />
        <div class="absolute left-0 right-0 top-8 w-2 h-full bg-lightBlue m-auto z-0"></div>
    </div>
    <div class="relative w-full shadow-xl rounded-3xl mb-[120px] overflow-hidden">
        <div class="relative flex justify-between p-8 bg-lightBlue rounded-t-3xl font-header2 text-3xl font-bold">
            <input class="w-full h-full absolute top-0 left-0 hidden" type="checkbox">
            <h3>Full Stack Developer <small>KeepCoding. Madrid, Spain.</small></h3>
            <h3>2023 - 2024</h3>
        </div>
        <div class="px-12 py-12 font-p text-3xl">
            <ul class="list-disc pl-12 mb-8">
                <li class="mb-4">Develop front-end applications using ReactJS and Next JS.</li>
                <li class="mb-4">Create static websites with the ASTRO framework</li>
                <li class="mb-4">Develop RESTful APIs and server-side rendering (SSR) websites using Node.js and Express</li>
                <li class="mb-4">Deploy applications in development and production environments on EC2 instances, using NGINX as a web server and reverse proxy.</li>
                <li class="mb-4">Manage processes using PM2.</li>
                <li class="mb-4">Install and managed SSL/TLS certificates with Certbot.</li>
            </ul>
            <h4><strong>Stack: </strong>Javascript, ReactJS, Next JS, HTML5, CSS, SCSS, Axios, ASTRO, Node.js, Express, DNS, NGINX, PM2, Certbot, AWS (EC2).</h4>
        </div>
    </div>

    <div>

    </div>
</div>