---
import ExperiencesGrid from "./ExperiencesGrid.astro";
---

<section class="px-[90px] mb-[100px]">
    <h2 class="text-center font-header uppercase font-bold text-4xl pb-[80px]">Experience</h2>
    <ExperiencesGrid />
</section>