---
interface Props {
    text: string;
}

const { text } = Astro.props;
---

<div class="cloud absolute right-[-60%] top-[50%] bg-white rounded-xl text-center drop-shadow-md py-3 px-6 rotate-[-17deg]">
    <p class="font-p text-xl">{text}</p>
</div>
<style>
    .cloud{
        animation: floating 3s ease-in-out infinite;
    }
    
    @keyframes floating {
        0% {top: 50%;}
        50% {top: 60%;}
        100% {top: 50%}
    }

</style>