---
import NavLinks from './NavLinks.astro';
---

<div class="hamburguer-menu flex items-center w-[40px] h-16 relative md:hidden">
  <input class="absolute w-full h-full z-50 opacity-0" type="checkbox" />
  <div
    class="menu-bar w-[40px] h-2 bg-black rounded-full transition-all duration-150 before:content-[''] before:absolute before:w-[40px] before:h-2 before:bg-black before:rounded-full before:-translate-y-5 before:transition-all before:duration-150 after:content-[''] after:absolute after:w-[40px] after:h-2 after:bg-black after:rounded-full after:translate-y-5 after:transition-all after:duration-150"
  >
  </div>
  <div
    class="menu absolute flex pt-10 justify-end transition-all duration-150 w-[60vw] h-[100vh] top-24 right-[-40px] z-[100] bg-white shadow-md"
  >
    <ul class="flex flex-col gap-4 text-4xl uppercase text-right pr-12 z-[100]">
      <NavLinks />
    </ul>
  </div>
</div>

<style>
  .hamburguer-menu:has(input[type='checkbox']:not(:checked)) {
    .menu {
      transform: translateX(100vw);
    }
  }

  .hamburguer-menu:has(input[type='checkbox']:checked) {
    .menu-bar::before,
    .menu-bar::after {
      transition: transform 0.1s linear;
      transform: translateY(0);
    }

    .menu-bar {
      transition: transform 0.1s linear;
      height: 0;
    }

    .menu-bar::before {
      transition: transform 0.1s linear;
      transform: rotate(45deg);
    }

    .menu-bar::after {
      transition: transform 0.1s linear;
      transform: rotate(-45deg);
    }
  }
</style>

<script type="text/javascript">
  const links = document.querySelectorAll('.nav-link');
  const inputCheck = document.querySelector('input');
  const clickHandler = () => (inputCheck.checked = false);
  links.forEach((link) => link.addEventListener('click', clickHandler));
</script>
