<select class="lang-selector bg-transparent outline-none font-bold">
  <option value="en">ENG</option>
  <option value="fr">FRA</option>
  <option value="es">ESP</option>
</select>
<script type="text/javascript">
  const url = location.origin;
  const lang = location.pathname.slice(1);

  const options = document.querySelectorAll('.lang-selector option');
  options.forEach((option) => {
    option.value === lang ? (option.selected = 'true') : option;
  });

  document.querySelector('.lang-selector').addEventListener('change', (e) => {
    e.target.value === 'en'
      ? (window.location.href = `${url}`)
      : (window.location.href = `${url}/${e.target.value}`);
  });
</script>
