---
import { Image } from 'astro:assets';
import Logo from '@images/logo.svg';
import LangSelector from './LangSelector.astro';
import NavLinks from './NavLinks.astro';
import HamburguerMenu from './HamburguerMenu.astro';
---

<header
  class="flex justify-between bg-white items-center lg:px-52 px-16 py-8 sticky top-0 left-0 right-0 md:bg-white/50 md:backdrop-blur-sm z-50 overflow-x-clip"
>
  <a class="basis-2/3 md:basis-1/4" href="/">
    <Image
      src={Logo}
      alt="Logo"
      widths={[240, 540, 720, Logo.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${Logo.width}px`}
    />
  </a>
  <nav class="flex items-center">
    <ul class="hidden md:gap-10 uppercase font-p font-normal md:flex">
      <NavLinks />
      <LangSelector />
    </ul>
    <HamburguerMenu />
  </nav>
</header>
