<li class="nav-link"><a href="#about">about</a></li>
<li class="nav-link"><a href="#projects">projects</a></li>
<li class="nav-link"><a href="#experiences">experiences</a></li>
<li class="nav-link"><a href="#education">education</a></li>
<li class="nav-link"><a href="#contact">contact</a></li>
