---
import { Icon } from 'astro-icon/components';
---

<div class="flex justify-center gap-5 rounded-full p-6">
  <a
    href="https://www.linkedin.com/in/uberth-hernandez-perez-31815b146/"
    target="_blank"><Icon name="linkedin" title="link linkedin" size="30" /></a
  >
  <a href="https://github.com/Snipsx17" target="_blank" title="link github"
    ><Icon name="git" size="30" /></a
  >
</div>
