---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import NavBar from '@components/layout/NavBar.astro'
import Stack from '@components/stack-carrousel/Stack.astro';
import Projects from '@components/Projects.astro';
---

<Layout title="Uberth Hernandez">
	<NavBar />
	<main >
		<Hero />
		<Stack />
		<Projects />
	</main>
</Layout>

