---
import ButtonCV from '@components/layout/ButtonCV.astro';
import { Form } from '@components/contact/Form';
import RRSS from '@components/layout/RRSS.astro';
import { Icon } from 'astro-icon/components';
---

<section id="contact" class="md:px-[100px] px-10 mb-[200px]">
  <h2 class="text-center font-header uppercase font-bold text-6xl pb-[80px]">
    contact
  </h2>
  <div class="flex justify-center rounded-lg shadow-md w-[800px] m-auto">
    <div
      class="relative flex-1 bg-gradient-to-b from-[#8a94f5] to-[#e1e2ff] rounded-lg p-14"
    >
      <h4 class="text-left font-header2 text-white text-4xl font-bold mb-12">
        Contact Form
      </h4>
      <Form client:load />
    </div>
    <div class="flex-1 p-14">
      <h4
        class="font-header2 text-4xl font-bold text-left after:content-[' '] after:w-14 after:h-1 after:bg-black after:block after:mt-2"
      >
        Get in touch
      </h4>
      <p class="mb-8 text-zinc-600">Contact Information.</p>
      <div
        class="relative flex flex-col justify-between items-center h-[370px]"
      >
        <div class="text-center">
          <div class="flex items-center gap-6 mb-6">
            <span class="p-6 rounded-full border-[1px] border-zinc-300">
              <Icon name="email" />
            </span>
            <p class="font-p text-2xl">Email: contact@uhernandez.com</p>
          </div>
          <div class="flex items-center gap-6 mb-12">
            <span class="p-6 rounded-full border-[1px] border-zinc-300">
              <Icon name="location" />
            </span>
            <p class="font-p text-2xl">Based on: Montreal, QC.</p>
          </div>
          <ButtonCV background="#fff" />
        </div>
        <RRSS />
      </div>
    </div>
  </div>
</section>
