---
import { ButtonCV } from '@components/layout/ButtonCV';
import { Form } from '@components/contact/Form';
import { ContactForm } from '@components/contact/ContactForm';
import RRSS from '@components/layout/RRSS.astro';
import { Icon } from 'astro-icon/components';
import { getTranslation } from '../../utils/i18n';
const lang = Astro.url.pathname.split('/')[1] || 'en';
---

<section id="contact" class="mb-[200px]">
  <h2 class="text-center font-header uppercase font-bold text-6xl mb-6">
    {getTranslation(lang, 'contact')}
  </h2>
  <p class="font-p capitalize text-center mb-28 text-slate-600">
    {getTranslation(lang, 'get in touch')}
  </p>
  <div class="md:w-[600px] justify-center rounded-lg shadow-xl m-auto">
    <div class="relative lg:rounded-s-lg md:p-14">
      <ContactForm client:load lang={lang} />
    </div>

    <div class="p-14 lg:rounded-e-lg">
      <h4
        class="font-header2 text-4xl font-bold text-left after:content-[' '] after:w-14 after:h-1 after:bg-black after:block after:mt-2 capitalize mb-4"
      >
        {getTranslation(lang, 'contact Information')}
      </h4>

      <div class="relative text-center">
        <div class="md:grid md:grid-cols-2 gap-6 text-center my-8">
          <div class="flex items-center gap-6 mb-6">
            <span class="p-6 rounded-full border-[1px] border-zinc-300">
              <Icon name="email" />
            </span>
            <div>
              <p class="font-p text-2xl">Email:</p>
              <p>contact@uhernandez.com</p>
            </div>
          </div>
          <div class="flex items-center gap-6 mb-6">
            <span class="p-6 rounded-full border-[1px] border-zinc-300">
              <Icon name="location" />
            </span>
            <div>
              <p class="font-p text-2xl">
                {getTranslation(lang, 'based on:')}
              </p>
              <p>Montreal, QC</p>
            </div>
          </div>
        </div>
        <ButtonCV />
        <RRSS />
      </div>
    </div>
  </div>
</section>
