---
import ProjectsGrid from './projects/ProjectsGrid.astro';
---

<section class="px-[100px] ">
    <h2 class="text-center font-header uppercase font-bold text-4xl pb-[80px]">Projects</h2>
    <ProjectsGrid />
</section>